.hp__section-1 {
    margin-top: 10px;
}

.ac__top {
    border-radius: var(--border-radius-medium);
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-color: var(--background-color-orange);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-pale);
    font-family: "Yanone";
}

.ac__top div {
    font-weight: 300;
    font-size: 134px;
}

.ac__top h2 {
    text-transform: uppercase;
    text-align: center;
    width: 571px;
    font-size: 66px;
    line-height: 66px;
}

.ac__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color-orange);
}

.ac__bottom .block {
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color-pale);
    color: var(--text-color-orange);
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 271px;
    padding: 40px;
}

.ac__bottom .block h3 {
    font-family: "Yanone";
    width: 820px;
    font-size: var(--desktop-text-title-size-h3);
    line-height: 45px;
}

.ac__bottom .block p {
    width: 328px;
    line-height: 19px;
}
