.hp__section .e__main {
    width: 50%;
    height: 600px;
    padding: 210px 214px;
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color-pink);
    background-image: url("../../assets/images/svg/pnk.svg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.hp__section .e__info {
    width: 50%;
    height: 600px;
    padding: 210px 214px;
    border-radius: var(--border-radius-medium);
    background-color: var(--background-color-dark-green);
    background-image: url("../../assets/images/svg/green.svg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.hp__section .e__main h2 {
    font-family: "Yanone";
    font-size: var(--desktop-text-title-size-h2);
    text-transform: uppercase;
    color: var(--text-color-orange);
    margin-bottom: 10px;
}

.hp__section .e__main .e__main-description p {
    color: var(--text-color-orange);
    line-height: 19px;
    width: 350px;
}
