.hh__main {
    display: flex;
    padding: 50px;
    align-items: end;
    justify-content: center;
    background-color: var(--background-color-dark-green);
    color: var(--background-color-pale);
    width: 50%;
    height: 600px;
    border-radius: var(--border-radius-medium);
    background-image: url("../../assets/images/svg/how.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.hh__main h2 {
    font-family: "Yanone";
    font-size: 66px;
    text-transform: uppercase;
}

.hh__info .wrapper {
    position: absolute;
    display: grid;
    left: 15%;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
}

.hh__info {
    overflow: hidden;
    position: relative;
    background-color: var(--background-color-pink);
    width: 50%;
    height: 600px;
    border-radius: var(--border-radius-medium);
}

.hh__info .circle__block img {
    width: 50px;
    height: 50px;
}

.hh__info .circle__block p {
    font-family: "Yanone";
    color: var(--text-color-dark-green);
    font-size: 22px;
    width: 200px;
    text-align: center;
}

.hh__info .circle__block {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-pale);
    border-radius: 999px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
